body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    margin-top: 50px;
}

form {
    max-width: 600px;
    margin: auto;
}

table {
    margin-top: 20px;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

th {
    position: relative;
    cursor: pointer;
}

th i {
    visibility: hidden;
    position: absolute;
    right: 10px;
}

th:hover i,
th.sorted i {
    visibility: visible;
}